<div class="container">  <!-- この行を追加 -->
  <div class="row">
    <div class="col-lg-5 offset-lg-3">
      <h1>User info</h1>
      <% if @user.errors.any? %>
        <div class="text-danger"><%= @user.errors.count %>errors prohibited this book from being saved:
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        </div>
      <% end %>
        <div class="d-flex flex-column">
          <%= form_with model:@user, local:true do |f| %>
            <label for="inputName">Name</label>
            <div class="d-flex flex-column">
              <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:""%>
            </div>
            <label for="inputImage">Image</label>
            <div class="d-flex flex-column">
              <%= f.attachment_field :profile_image, placeholder: "" %>
            </div>
            <label for="inputName">Introoduction</label>
            <div class="d-flex flex-column">
              <%= f.text_area :introduction, autofocus: true, id:"inputName",placeholder:""%>
            </div>
            <div class="mt-3"><%= f.submit 'Update User', class: "btn btn-secondary" %></div>
          <% end %>
        </div>
    </div>
  </div>  <!-- この行を追加 -->
</div>