<div class="container">  <!-- この行を追加 -->
  <div class="row">
    <div class="col-lg-7 offset-lg-3">
      <h1>Editing Book</h1>
      <%= form_with model:@book, local:true do |f| %>
          <p>Title</p>
          <%= f.text_field :title %>
          <p>Opinion</p>
          <%= f.text_area :body %>
          <%= f.submit 'Update Book', class: "btn btn-success d-block" %>
      <% end %>
      <%= link_to 'show', book_path(@book.id) %>
      <%= link_to 'back', books_path %>
    </div>
 </div>  <!-- この行を追加 -->
</div>