<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'users/user', user: @user,book: @book_new %>
    </div>
    <div class="col-lg-8 offset-lg-1">  <!-- この行を追加 -->

          <h1>Book detail</h1>
          <table class="table">
          <tbody>
            <tr>
              <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
              <td><%= link_to @user.name, user_path(@user.id) %></td>
              <td><%= link_to @book.title, book_path(@book.id) %></td>
              <td><%= @book.body %></td>
              <td><%= link_to 'Edit', edit_book_path(@book.id) ,class: "btn btn-success btn-sm" %></td>
              <td><%= link_to 'Destroy', book_path(@book.id), class: "btn btn-danger btn-sm",method: :delete %></td>
            </tr>
         </tbody>
        </table>
    </div>
  </div>
</div>
