<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ad383b9fb6.js" crossorigin="anonymous"></script>
  </head>

<body>
  <header class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand p-1 text-white" href="/">Bookers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li>
          <i class="fas fa-home"><%= link_to 'Home', user_path(current_user.id),class:'text-white' %></i>
        </li>
        <li>
          <i class="fas fa-users pl-3"><%= link_to 'Users', users_path,class:'text-white' %></i>
        </li>
        <li>
          <i class="fas fa-book-open pl-3"><%= link_to 'Books', books_path,class:'text-white' %></i>
        </li>
        <li>
          <i class="fas fa-sign-out-alt pl-3"><%= link_to "logout", destroy_user_session_path,class:'text-white', method: :delete %></i>
        </li>

        <% else %>
        <li>
          <i class="fas fa-home text-white"><%= link_to "Home", root_path,class:'text-white' %></i>
        </li>
        <li>
          <i class="fas fa-link pl-3"><%= link_to "About", home_about_path,class:'text-white' %></i>
        </li>
        <li>
          <i class="fas fa-user-plus pl-3"><%= link_to "sign up", new_user_registration_path,class:'text-white' %></i>
        </li>
        <li>
          <i class="fas fa-sign-in-alt pl-3"><%= link_to "login", new_user_session_path,class:'text-white' %></i>
        </li>
        <% end %>
      </ul>
      </div>
      </div>
    </nav>
  </header>
    <main class="mb-auto">
    <%= yield %>
  <footer class="pt-4">
    <div class="text-center">CopyRight Infratop.inc</div>
  </footer>
</body>
</html>